<div class = "d-flex justify-content-end">
    {% if answer.modify_date %}
    <div class="badge badge-light p-2 text-left mx-3">
        <div class="mb-2">modified at</div>
        <div>{{ answer.modify_date }}</div>
    </div>
    {% endif %}
    <div class = "badge badge-light p-2">
        {{ answer.create_date }}
    </div>
</div>
{% if request.user == answer.author %}
<div class="my-3">
    <a href="{% url 'docu:answer_modify' answer.id  %}"
       class="btn btn-sm btn-outline-secondary">수정</a>
    <a href="#" class="delete btn btn-sm btn-outline-secondary "
       data-uri="{% url 'docu:answer_delete' answer.id  %}">삭제</a>
</div>
{% endif %}
<-- 답변 댓글 시작 -->
{% if answer.comment_set.count > 0 %}
        <div class="mt-3">
        {% for comment in answer.comment_set.all %}
            <div class="comment py-2 text-muted">
                <span style="white-space: pre-line;">{{ comment.content }}</span>
                <span>
                    - {{ comment.author }}, {{ comment.create_date }}
                    {% if comment.modify_date %}
                    (수정:{{ comment.modify_date }})
                    {% endif %}
                </span>
                {% if request.user == comment.author %}
                <a href="{% url 'pybo:comment_modify_answer' comment.id  %}" class="small">수정</a>,
                <a href="#" class="small delete"
                   data-uri="{% url 'pybo:comment_delete_answer' comment.id  %}">삭제</a>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        {% endif %}
        <div>
            <a href="{% url 'pybo:comment_create_answer' answer.id  %}"
               class="small"><small>댓글 추가 ..</small></a>
        </div>
    <!-- 답변 댓글 끝 -->
</div>