{% extends 'mainpage.html' %}

{% block content %}

<section id="header">
    <h1><a href="{% url 'index' %}">jUmP</a></h1>
    <nav id="nav">
        <ul>
            <li id="btn_home"><a href="{% url 'audiotest:index' %}">Home</a></li>
            <li id="btn_interview"><a href="{% url 'audiotest:interview' %}">Interview</a></li>
            <li class="current" id="btn_employment_info"><a href="{% url 'docu:index' %}">Employment info.</a></li>
            <li id="btn_mypage"><a href="{% url 'audiotest:privacy' %}">Mypage</a></li>
            {% if user.is_authenticated %}
            <li id="btn_logout"><a href="{% url 'audiotest:logout' %}">Logout</a></li>
            {% else %}
            <li id="btn_login"><a href="{% url 'audiotest:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</section>
<section id="main">
    <div class="container">
        <article class="box post">
            <h5 class = "my-3 border-bottom pb-2">질문 등록</h5>
            <form method = "post" class = "post-form my-3">
                {% csrf_token %}
                <!--오류 표시 시작-->
                {% if form.errors %}
                <div class = "alert alert-danger" role = "alert">
                    {% for field in form %}
                    {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <!--오류 표시 끝-->
                <div class = "form-group">
                    <label for = "subject">제목</label>
                    <input type = "text" class = "form-control" name = "subject" id = "subject" value = "{{ form.subject.value|default_if_none:''}}">
                </div>
                <div class = "form-group">
                    <label for = "content">내용</label>
                    <textarea class = "form-control" name = "content" id = "content" rows = "10">{{ form.content.value|default_if_none:'' }}</textarea>
                </div>
                <button type = "submit" class = "btn btn-primary">저장하기</button>
            </form>
        </article>
    </div>
</section>

{% endblock %}