#banner_interview {
        background: url("header.png");
		text-align: center;
		position: relative;
		padding: 8em 0;
		margin: 1em 0 0 0;
	}
#banner_interview::before {
	    background-position: center center;
	    background-size: auto 100%;
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0.5;
        z-index: 1;
        top: 0;
        left: 0;
	}
	#banner_interview header {
			background-color: rgba(34, 30, 31, 0.98);
			display: inline-block;
			padding: 2.5em 5em;
			border-radius: 5px;
		}

			#banner_interview header h2 {
				color: #fff;
				font-weight: 700;
				font-size: 2.5em;
				margin: 0 0 0.65em 0;
			}

			#banner_interview header p {
				color: #d52349;
				padding: 0;
				font-style: normal;
				margin: 0;
				font-size: 1.5em;
			}

.time_table {
	font-weight: 15000;
	font: 1em bold;
}