{% extends 'mainpage.html' %}
{% block content %}
<section id="header">
    <h1><a href="{% url 'index' %}">jUmP</a></h1>
    <nav id="nav">
        <ul>
            <li id="btn_home"><a href="{% url 'audiotest:index' %}">Home</a></li>
            <li id="btn_interview"><a href="{% url 'audiotest:interview' %}">Interview</a></li>
            <li id="btn_employment_info"><a href="{% url 'docu:index' %}">Employment info.</a></li>
            <li class="current" id="btn_login"><a href="{% url 'audiotest:login' %}">Login</a></li>
        </ul>
    </nav>
</section>
<section id="main">
    <div class="container">
        <article class="box post">
            <div class="container my-3">
    <div class = "row">
        <div class = "col-4">
            <h4>로그인</h4>
        </div>
        <div class = "col-8 text-right">
            <span>
                또는 <a href="{% url 'common:signup' %}">계정을 만드시오.</a>
            </span>
        </div>
    </div>
    <form method="post" class = "post-form" action = "{% url 'common:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include "form_errors.html" %}
        <div class = "form-group">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value = "{{ form.username.value|default_if_none:''}}">
        </div>
        <div class = "form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value = "{{ form.password.value|default_if_none:''}}">
        </div>
        <button type="submit" class = "btn btn-primary">로그인</button>
    </form>
</div>
        </article>
    </div>
</section>

{% endblock %}

