{% extends "mainpage.html" %}
{% block content %}
<section id="header">
    <h1><a href="{% url 'index' %}">jUmP</a></h1>
    <nav id="nav">
        <ul>
            <li id="btn_home"><a href="{% url 'audiotest:index' %}">Home</a></li>
            <li id="btn_interview"><a href="{% url 'audiotest:interview' %}">Interview</a></li>
            <li id="btn_employment_info"><a href="{% url 'docu:index' %}">Employment info.</a></li>
           {% if user.is_authenticated %}
            <li id="btn_mypage"><a href="{% url 'audiotest:privacy' %}">Mypage</a></li>
            <li id="btn_logout"><a href="{% url 'audiotest:logout' %}">Logout</a></li>
            {% else %}
            <li class="current" id="btn_login"><a href="{% url 'audiotest:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</section>
<section id="main">
    <div class="container">
        <article class="box post">
            <div class = "container my-3">
    <div class = "row my-3">
        <div class = "col-4">
            <h4>회원가입</h4>
        </div>
        <div class = "col-8 text-right">
            <span>또는 <a href="{% url 'common:login' %}">로그인 하세요</a></span>
        </div>
    </div>
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
         <div class = "form-group">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value = "{{ form.username.value|default_if_none:''}}">
        </div>
        <div class = "form-group">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value = "{{ form.password1.value|default_if_none:''}}">
        </div>
        <div class = "form-group">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value = "{{ form.password2.value|default_if_none:''}}">
        </div>
        <div class = "form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value = "{{ form.email.value|default_if_none:''}}">
        </div>
        <button type="submit" class = "btn btn-primary">생성하기</button>
    </form>
</div>
        </article>
    </div>
</section>

{% endblock %}