{% extends "mainpage.html" %}

{% block content %}

<section id="header">
    <h1><a href="{% url 'index' %}">jUmP</a></h1>
    <nav id="nav">
        <ul>
            <li class="current" id="btn_home"><a href="{% url 'audiotest:index' %}">Home</a></li>
            <li id="btn_interview"><a href="{% url 'audiotest:interview' %}">Interview</a></li>
            <li id="btn_employment_info"><a href="{% url 'docu:index' %}">Employment info.</a></li>
            <li id="btn_mypage"><a href="{% url 'audiotest:privacy' %}">Mypage</a></li>
            {% if user.is_authenticated %}
            <li id="btn_logout"><a href="{% url 'audiotest:logout' %}">Logout</a></li>
            {% else %}
            <li id="btn_login"><a href="{% url 'audiotest:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
<section id="banner">
</section>
<section id="intro" class="container">
    <div class="row">
        <div class="col-4 col-12-medium" style="background-image: url('static/img/monitor.png'); background-size: 100% 100%;">
            <section class="first">
                <i class="icon solid"></i>
                <header>
                    <h2>셀프 모니터링</h2>
                </header>
                <p>언제까지 핸드폰으로 모니터링 할래?</p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="middle">
                <i class="icon solid"></i>
                <header>
                    <h2>난이도별 질문 선정</h2>
                </header>
                <p>Step by Step! 단계별로 올라가기!</p>
            </section>
        </div>
        <div class="col-4 col-12-medium">
            <section class="last">
                <i class="icon solid"></i>
                <header>
                    <h2>IT계열 취준생을 위한 IT특화 질문</h2>
                </header>
                <p>같아가자 네카라쿠배!</p>
            </section>
        </div>
    </div>
</section>
<!--                        <td><img src = "static/img/monitor.png" width = "300" height = ""></td>-->
<!--                        <td><img src = "static/img/stairs.png" width = "300" height = ""></td>-->
<!--                        <td><img src = "static/img/네카라쿠배.jpg" width = "300" height = ""></td>-->

{% endblock %}