{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'multi.css' %}">
        <title> Multicampus Group Project </title>
    </head>
    <body>
        <div class="main_title" align="center">
            <form>
                <button type="button" class="title_button" onclick="location.href='{% url 'index' %}'"> jUmP </button>
            </form>
        </div>
        <div class="main_button_line" align="center">
            <form>
                <button type="button" class="main_buttons" onclick="location.href='{% url 'index' %}'"> 소개 </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="main_buttons" onclick="location.href='{% url 'interview' %}'"> 면접준비 </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="main_buttons" onclick="location.href='{% url 'docu:index' %}'"> 면접자료 </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="main_buttons" onclick="location.href='{% url 'privacy' %}'"> 마이페이지 </button>
            </form>
        </div>
        <div class="box_out">
            <div class="box_in" align="center">
                <div class="interview_screen" align="right">
                    <div class = "time" id="time"></div>
                    <div>
                        <button id="start"> Start </button>
                        <button id="stop"><img src="/static/img/stop-button.png" height ="10" width="10" /></button>
                        <button id="play"><img src="/static/img/play.png" height ="10" width="10" /></button>
                        <button id="download"> Download </button>
                    </div>
                    <div>
                        <video playsinline muted id="record_video" autoplay></video>
                        <video playsinline id="replay_video"></video>
                    </div>
                </div>
                <div class = "interview_question" align="left">
                    {% if question_list %}
                    <ul>
                     {% for question in question_list %}
                     {{ forloop.counter }}.
                     {{ question.question_text }}
                      <br></br>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if question_list1 %}
                    <ul>
                     {% for question in question_list1 %}
                     {{ forloop.counter }}.
                     {{ question.question_text }}
                        <br></br>
                     {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                </div>
            </div>
            <script type="text/javascript">
                window.onload = function () {
                    document.getElementById("time").innerText = 90;
                    const parts = [];
                    let mediaRecorder;
                    let url;
                    navigator.mediaDevices.getUserMedia({ audio: true, video: true }).then(stream => {
                        document.getElementById("record_video").srcObject = stream;
                        document.getElementById("start").onclick = function () {
                            mediaRecorder = new MediaRecorder(stream);
                            let timee = new Date();
                            let end_time = timee.setSeconds(timee.getSeconds() + 90);
                            mediaRecorder.start(0);
                            mediaRecorder.ondataavailable = function (e) {
                                parts.push(e.data);
                                let elapsed_time = new Date();
                                elapsed_time = elapsed_time.setSeconds(elapsed_time.getSeconds());
                                document.getElementById("time").innerText = (end_time - elapsed_time) / 1000;
                                if ((end_time - elapsed_time) / 1000 < 0) {
                                    mediaRecorder.stop(0);
                                    const blob = new Blob(parts, {
                                        type: "video/webm"
                                    });
                                    url = URL.createObjectURL(blob);
                                }
                            }
                        }
                    });
            
                    document.getElementById("stop").onclick = function () {
                        document.getElementById("time").innerText = 90;
                        mediaRecorder.stop(0);
                        const blob = new Blob(parts, {
                            type: "video/webm"
                        });
                        url = URL.createObjectURL(blob);
                    }
            
                    document.getElementById("play").onclick = function () {
                        document.getElementById("replay_video").srcObject = null;
                        document.getElementById("replay_video").src = url;
                        document.getElementById("replay_video").controls = true;
                        document.getElementById("replay_video").play();
                    }
            
                    document.getElementById("download").onclick = function () {
                        document.getElementById("time").innerText = 90;
                        const video = document.createElement("a");
                        document.body.appendChild(a);
                        video.href = url;
                        video.download = "interview_video.mp4";
                        video.click();
                    }
                }
            </script>
    </body>
</html>
