{% extends "mainpage.html" %}

{% block content%}

        <div class="interview">
            <div class = "jUmP">
                <img class = "image" src= "/static/img/JUMP.png" alt = "jump 아이콘" width = "auto" height = "400" align = "right"></img>
            </div>
            <div class="interview_text">
                <button type="button" class="setting_button" onclick="location.href='{% url 'setting' %}'">면접 세팅</button>
            </div>
            <div class = "text-box">
                <div class = "text-wrap">
                    <div class = "slogan">
                        <h1>우리는 올라갈 일만 남았다</h1>
                        <h2>#jUmP_UP</h1>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}



