{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- css 파일 호출 -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'multi.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-utilities.rtl.css' %}">
        <!-- JavaScript 파일 호출 -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'assets/js/browser.min.js' %}"></script>
        <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <title> Multicampus Group Project </title>
    </head>
    <body class="homepage is-preload">
    <div id="page-wrapper">
        <!-- 화면에 출력되지 않은 페이지에 대한 메인버튼 class: undefined -->
        <!-- 이하 각 화면 내용 출력 -->
        {% block content%}
        {% endblock %}
        <!-- 이상 각 화면 내용 -->
        </section>
    </div>
    </body>
</html>