{% extends "mainpage.html" %}

{% block content %}

<section id="header">
    <h1><a href="{% url 'index' %}">jUmP</a></h1>
    <nav id="nav">
        <ul>
            <li id="btn_home"><a href="{% url 'audiotest:index' %}">Home</a></li>
            <li id="btn_interview"><a href="{% url 'audiotest:interview' %}">Interview</a></li>
            <li id="btn_employment_info"><a href="{% url 'docu:index' %}">Employment info.</a></li>
            {% if user.is_authenticated %}
            <li class="current" id="btn_mypage"><a href="{% url 'audiotest:privacy' %}">Mypage</a></li>
            <li id="btn_logout"><a href="{% url 'audiotest:logout' %}">Logout</a></li>
            {% else %}
            <li id="btn_login"><a href="{% url 'audiotest:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

</section>
<section id="main">
    <div class="container">
        <article class="box post">
            <div class="container">
                <form method="POST" action="{% url 'audiotest:re_password' %}">
                    {% csrf_token %}
                    현재 비밀번호 :
                    <input name="origin_password" type="password">
                    <br><br>
                    변경할 비밀번호 :
                    <input name="new_password" type="password">
                    <br><br>
                    비밀번호 확인 :
                    <input name="confirm_password" type="password">
                    <br><br>
                    <input class="btn btn-primary" onclick="send()" type="submit" value="변경">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
        </article>
    </div>
</section>

<script>
    function send(){
        alert("비밀번호가 변경되었습니다.");
        document.getElementById("contents").submit();
    }
</script>

{% endblock %}
