{% extends "mainpage.html" %}

{% block content %}

        <div class="mypage">
            <div class="mypage_buttonline">
                <form>
                    <button type="button" class="mypage_button" onclick="location.href='{% url 'privacy' %}'"> </button>
                    <button type="button" class="mypage_button" onclick="location.href='{% url 'privacy' %}'"> 개인정보 확인 </button>
                    <button type="button" class="mypage_button" onclick="location.href='{% url 'history' %}'"> 면접 히스토리 </button>
                </form>
            </div>
            <div class="authentication_box">
                <input type="password">
                <button type="button" class="authentication" onclick="location.href='{% url 'privacy' %}'"> 인증 </button>
            </div>
        </div>
        <script type="text/javascript">
        </script>

{% endblock %}